<!DOCTYPE html>
<html>
  <head>
    <title>Attendant Skinstation Web App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "utils", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "template", "data-turbo-track": "reload" %>  
    <%= stylesheet_link_tag "application", "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" %>  


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag('https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.js')  %>
    <%= javascript_include_tag('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js') %>
    <%= javascript_include_tag('https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
